{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form method="POST" action="/add-new-band">
    <h1 class="h3 mb-3 fw-normal">Enter band name</h1>

    <div class="form-floating pb-3">
      <input type="text" class="form-control" id="band_name" name="band_name" placeholder="Flaming Sapositories">
      <label for="band_name">Band name</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Add new band</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2023–2023</p>
  </form>
</main>

</div>
{% endblock %}