{% extends "base.html" %}
{% block title %}Availability Calendar{% endblock %}
{% block style %}
<style>
        h1 {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            margin: auto;
        }
        td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }
        th.heading {
            text-align: center;
            font-size: 35px;
        }
        td.highlight {
            background-color: #f00;
            color: #fff;
        }
        td.selected {
            background-color: #008000;
            color: #fff;
        }
        td.super {
            background-color: #f08000;
            color: #0ff;
        }
    </style>
{% endblock %}


{% block content %}
    <h1>Common Days</h1>
    <form id="calendar" method="post" action="/available">
        <table>
            <tr>
                <th class="heading" colspan="100%">
                    <input id="mdate" type="month" name="mdate" value="{{ year }}-{{ '%02d'|format(month) }}" oninput="calendar.submit()">
                            <!--
                            {% set monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ] %}
                            {% set monthName = monthNames[month - 1] %}
                            {{ monthName }}
                            -->
                </th>
            </tr>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% set selected_dates = [] %}
            {% for days in availabilities %}
                {% set _ = selected_dates.append(days) %}
            {% endfor %}
            {% set common_dates = [] %}
            {% for days in common_days %}
                {% set _ = common_dates.append(days) %}
            {% endfor %}
            {% for week in cal %}
                <tr>
                    {% for day in week %}
                        {% if day == 0 %}
                            <td></td>
                        {% else %}
                            <td
                                {% if day in common_dates %}
                                    class="super"
                                {% elif day in selected_dates %}
                                    class="selected"
                                {% endif %}>{{ day }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
