{% extends "base.html" %}
{% block title %}Availability Calendar{% endblock %}
{% block style %}

{% endblock %}


{% block content %}
    <h1 class="text-body-emphasis text-center">Common Days for {{ user.band.band_name }}</h1>
   <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="dropdown-menu d-block position-static p-2 mx-0 shadow rounded-3 w-340px" data-bs-theme="light">
    <div class="d-grid gap-1">
      <div class="cal">
          <form id="monthview" method="post" action="/common">
          <div class="cal-month">

                <input class="cal-month-name" id="mdate" type="month" name="mdate" value="{{ year }}-{{ '%02d'|format(month) }}" oninput="monthview.submit()">

            </div>
          </form>
        <div class="cal-weekdays text-body-secondary">
          <div class="cal-weekday">Mon</div>
          <div class="cal-weekday">Tue</div>
          <div class="cal-weekday">Wed</div>
          <div class="cal-weekday">Thu</div>
          <div class="cal-weekday">Fri</div>
          <div class="cal-weekday">Sat</div>
          <div class="cal-weekday">Sun</div>
        </div>
        <div class="cal-days">
            {% for week in cal %}
                {% for day in week %}
                    {% if day == 0 %}
                        <button class="btn cal-btn" type="button" disabled></button>
                    {% else %}
                    <button
                    {% if day in common_days %}
                         class="btn cal-btn super" disabled>
                    {% elif day in availabilities %}
                        class="btn cal-btn active" disabled>
                    {% else %}
                        class="btn cal-btn" disabled>
                    {% endif %}{{ day }}
                    </button>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
