{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form method="POST" action="/delete-band">
    <h1 class="h3 mb-3 fw-normal">Select band</h1>

    <div class="pb-3">
      <select class="form-select" id="band_name" name="band_name">
    {% for band in user['bands'] %}
      <option value="{{ band.band_name }}">
          {{ band.band_name }}
      </option>
      {% endfor %}
          </select>
            </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Delete band</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2023–2023</p>
  </form>
</main>

</div>
{% endblock %}